footer {
    display: block;
    width: 100%;
    background-color: var(--secondary);
    text-align: left;
    padding: 0;

    a:not(.btn) {
        color: #fff;
        text-decoration: none;
        transition: color .33s ease;

        &:hover,
        &.active {
            color: #ff9099;
        }
    }

    .email {
        @fs: 50;
        @lh: 200;

        color: #fff;
        display: block;
        .fs(min(5.5vw, 2.5em));
        .lh((@lh/@fs));
        .bold;
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        transition: color .33s ease;

        @media only screen and (min-width: 768px) {
            .fs((@fs/20em));
        }

        &:hover {
            color: var(--primary);
        }
    }

    .mid {
        display: flex;
        padding: 1em 0;
        border-bottom: 1px solid #fff;
        flex-wrap: wrap;

        @media only screen and (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }

    p {
        @fs: 18;
        @lh: 25;
        color: #fff;
        .fs((@fs/20em));
        .lh((@lh/@fs));
    }

    .item {
        display: block;
        width: 100%;
        padding: 2em 0;

        &:nth-child(1) {
            width: 100%;
            border-bottom: 1px solid #fff;

            p {
                width: 75%;
            }
        }

        &:nth-child(n+2) {
            width: 50%;
        }

        @media only screen and (min-width: 768px) {
            padding: 2em;

            &:nth-child(1) {
                width: 75%;
                padding-left: 0;
                border: 0;

                p {
                    width: 50%;
                }
            }

            &:nth-child(n+2) {
                width: 15%;
            }
        }

        h2 {
            @fs: 25;
            @lh: 30;

            color: #fff;
            .fs((@fs/20em));
            .lh((@lh/@fs))
        }

        ul {
            list-style: none;
            margin: 0;
            @linkfs: 18;
            @linklh: 25;

            li {
                a {
                    display: block;
                    .fs((@linkfs/20em));
                    .lh((@linklh/@linkfs));
                    text-transform: capitalize;
                    width: 100%;
                    .reg;
                }
            }
        }
    }

    .logo {
        .ib;
        .va(top);
        width: (200/20em);
        color: #fff;
        margin-bottom: (20/20em);
    }

    .credit {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1em 0;
        color: #fff;
        @fs: 15;
        @lh: 20;

        .copyright {
            .fs((@fs/20em));
            .lh((@lh/@fs));
            display: block;
        }

        p {
            margin: 0;
            width: auto;
        }
    }
}