// Core styles for entire app
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Helvetica Now Display */
@font-face {
    font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
        url('/fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('/fonts/HelveticaNowDisplay-Light.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
        url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('/fonts/HelveticaNowDisplay-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaNowDisplay-Bold.woff') format('woff');
}

// default theme css vars
:root {
    // colors
    --primary: #8A1A23;
    --primary-light: #8a1a230d;
    --secondary: #033B52;
    --light-grey: #ccc;
    // text
    --heading: #212121;
    --text: #333;
    --link: #ff541a;
    // shadows
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // section backgrounds
    --bg: #fff;
    --bg-alternate: #faf7f2;
    // header
    --mainnav-bg: #ffffffb3;
    --mainnav-link: var(--primary);
    --mainnav-linkbg: var(--primary-light);
}

// Dark theme css vars
html[data-theme='dark'] {
    // colors
    --primary: rgb(73, 2, 2);
    // text
    --heading: #fff;
    --text: #fff;
    // section backgrounds
    --bg: #25262c;
    --bg-alternate: #000;
    // header
    --mainnav-bg: #222222cc;
    --mainnav-link: #fff;
    --mainnav-linkbg: #404040;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Helvetica Now Display';
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    color: var(--text);
    background-color: var(--bg);

    @media (min-width: 1300px) {
        font-size: 20px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

p {
    margin: 0 0 1.58em;
    padding: 0;
    line-height: 1.5;
}

ol,
ul {
    padding: 0;
    margin: 0 0 1.58em 1.6em
}

/* ===============================================
	links 
=============================================== */

a {
    text-decoration: none;
}

#content a {
    color: var(--link);
    transition: color 0.33s ease-in-out;
    text-decoration: underline;

    &:hover {
        color: var(--text);
    }
}

/* ===============================================
	.screenreader 
	a11y support for descriptive text on vaguely worded buttons
	https://gomakethings.com/hidden-content-for-better-a11y/#hidden-labels
=============================================== */
.screenreader {
    white-space: nowrap;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* ===============================================
	containers
=============================================== */

.container {
    display: block;
    width: 90%;
    max-width: (1298/20em);
    margin: 0 auto;

    @media only screen and (min-width: 1024px) {
        width: 96%;
    }
}

/* ===============================================
	h family || hfam 
=============================================== */
@h2fs: 49;
@h3fs: 35;
@h4fs: 30;
@h5fs: 20;
@h6fs: 19;

h1,
h2:not(.title),
h3:not(.title),
h4,
h5,
h6 {
    line-height: 1;
    color: var(--heading);
    margin: 0 0 (40/@h2fs)*1em;
    text-rendering: auto;
    text-transform: capitalize;
    font-weight: 500;
}

h2:not(.topic) {
    font-size: (@h2fs/20)*1em;
}

h3:not(.topic) {
    font-size: (@h3fs/20)*1em;
}

h4 {
    font-size: (@h4fs/20)*1em;
}

h5 {
    font-size: (@h5fs/20)*1em;
}

h6 {
    font-size: (@h6fs/20)*1em;
}

// base button

.btn {
    @parentfs: 20;
    @fs: 15;
    @lh: 40;
    @ls: 0;
    @height: 0;
    @width: 150;
    @br: 0;
    @bc: var(--primary);
    @hoverbc: var(--secondary);
    @borderstyle: false;

    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #fff;
    font-size: (@fs/@parentfs*1em);
    line-height: (@lh/@fs);
    background-color: (@bc);
    min-width: (@width/@fs*1em);
    transition: background-color .33s ease,
        color .33s ease;
    padding: 0 1em;
    margin: 0;
    text-transform: capitalize;
    border: 0;

    & when (@ls > 0) {
        letter-spacing: (@ls/1000*1em);
    }

    & when (@br > 0) {
        border-radius: (@br/@fs*1em);
    }

    & when (@height > 0) {
        height: (@height/@fs*1em);
    }

    & when (@borderstyle) {
        border: 1px solid @color1;
    }

    &:hover {
        background-color: (@hoverbc);
    }
}

// reusable 
.section-sub-heading {
    @fs: 12;
    @lh: 25;
    @height: 25;
    @marginbtn: 50;

    .fs((@fs/20em));
    .lh((@lh/@fs));

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: (8/@fs*1em);
    padding: 0 1em;
    border-radius: 1em;
    text-transform: capitalize;
    border: 1px solid var(--primary);
    margin: 0 auto (@marginbtn/@fs*1em);
    background-color: var(--primary-light);
    color: var(--text);

    & when (@height > 0) {
        height: (@height/@fs*1em);
    }

    span {
        margin-top: .1em;
    }

    &::before {
        content: '';
        width: .5em;
        height: .5em;
        border-radius: 50%;
        background-color: var(--primary);
    }

    &.invert {
        border-color: #fff;
        color: #fff;
    }
}

.section-header {
    display: block;
    text-align: left;
    margin-bottom: (75/20em);
    max-width: (800em/20em);
}

// sections descriptions 
.section-description {
    display: block;
    width: 90%;
    max-width: (800/20em);
    margin: 0 auto (50/20em);

    @media only screen and (min-width: 768px) {
        margin-bottom: (150/20em);
    }
}

.subheading {
    @fs: 14;
    @lh: 40;
    @height: 40;

    display: block;
    position: absolute;
    background-color: var(--bg);
    top: (-39/@fs*1em);
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1em;
    font-size: (@fs/20em);
    line-height: (@lh/@fs*1em);
    text-transform: capitalize;
    white-space: nowrap;
    min-width: (270/@fs*1em);
    text-align: center;

    @media only screen and (min-width: 768px) {
        transform: none;
        right: calc(50% + 23.5em);
        left: auto;
    }

    .shape {
        display: block;
        position: absolute;
        width: (62/@fs*1em);
        height: (40/@fs*1em);
        top: 0;
        pointer-events: none;
        color: var(--bg);
    }

    .left-shape {
        right: calc(100% - .5em);
    }

    .right-shape {
        left: calc(100% - .5em);
    }

    &.blue {
        background-color: var(--secondary);

        .shape {
            color: var(--secondary);
        }
    }

    &.grey {
        background-color: var(--bg-alternate);

        .shape {
            color: var(--bg-alternate);
        }
    }
}

.modal {
    z-index: 9999;
    .overlay;
    .flexcenter;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    padding: 1em;
    text-align: center;

    .container {
        background-color: var(--bg);
        padding: 3em 1em;
        position: relative;
        width: 96%;

        form {
            width: 100%;
            max-width: (500/20em);
            background-color: var(--bg-alternate);
            color: var(--text);
            padding: 1em;
            .ib;
            .va(top);
            box-shadow: var(--box-shadow);

            .form-control {
                display: block;
                text-align: left;
                width: 100%;
                margin-bottom: 1em;

                label {
                    display: block;
                    width: 100%;

                    input[type='text'],
                    input[type='email'],
                    input[type='number'] {
                        display: block;
                        font-size: 16px;
                        line-height: (40/16);
                        border: 0;
                        background-color: var(--bg);
                        color: var(--text);
                        width: 100%;
                        padding: 0 1em;

                        &::placeholder {
                            color: var(--text);
                        }
                    }
                }

                textarea {
                    resize: none;
                    border: 0;
                    padding: 1em;
                    outline: none;
                    font-family: inherit;
                    font-size: 16px;
                    color: var(--text);
                    background: none;
                    background-color: var(--bg);
                    display: block;
                    width: 100%;

                    &::placeholder {
                        color: var(--text);
                    }
                }
            }

            button.btn {
                width: 100%;
                font-size: 16px;
            }
        }

        button.close-modal {
            position: absolute;
            top: 1em;
            right: 1em;
            min-width: auto;
            width: auto;
        }
    }
}

svg {
    .ib;
    width: 100%;
    height: auto;
    overflow: visible;
}