#landing {
    display: block;
    text-align: center;
    min-height: 600px;
    padding: 8em 0 3em;

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 5em 0;
    }

    h1 {
        @fs: 64;
        @lh: 66;
        @marginbtm: 30;

        font-size: min(8vw, (@fs/20em));
        line-height: (@lh/@fs);
        margin: 0 auto (@marginbtm/@fs*1em);
        max-width: (780em/@fs);
        width: 90%;
        .bold;
    }

    .subheading {
        @fs: 20;
        @lh: 30;

        display: block;
        .lh((@lh/@fs));
        width: 90%;
        margin: 0 auto (50em/@fs);
        max-width: (780em/@fs);
    }

    .btn {
        margin-bottom: 4em;
    }

    .video-wrapper {
        display: block;
        position: relative;
        width: 90%;
        max-width: (1200/20em);
        margin: 0 auto;
        overflow: hidden;
    }

    #herovid {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}

#partners {
    display: block;
    text-align: center;
    background-color: @secondary;
    color: #fff;
    padding: 3em 0;
    overflow: hidden;

    .section-sub-heading {
        border-color: #fff;
    }

    span.section {
        border-color: fade(#fff, 20%)
    }

    .row {
        .flexcenter;
        gap: 3em;
        font-size: min(2vw, 1em);
    }

    .item {
        @fs: 86;
        font-size: (@fs/20em);
        line-height: 1.2;
        .flexcenter;
        white-space: nowrap;
        text-transform: capitalize;

        .flag {
            .ib;
            width: (100/@fs*1em);
            height: (67/@fs*1em);
        }
    }
}