#landing {
    display: block;
    text-align: center;
    min-height: 600px;
    padding: 8em 0 4em;

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 7em 0 5em;
    }

    h1 {
        @fs: 64;
        @lh: 66;
        @marginbtm: 30;

        font-size: min(8vw, (@fs/20em));
        line-height: (@lh/@fs);
        margin: 0 auto (@marginbtm/@fs*1em);
        max-width: (780em/@fs);
        width: 90%;
        .bold;
    }

    .subheading {
        @fs: 20;
        @lh: 30;

        display: block;
        .lh((@lh/@fs));
        width: 90%;
        margin: 0 auto (50em/@fs);
        max-width: (780em/@fs);
    }

    .btn {
        margin-bottom: 4em;
    }

    .video-wrapper {
        display: block;
        position: relative;
        width: 90%;
        max-width: (1200/20em);
        margin: 0 auto;
        overflow: hidden;
    }

    #herovid {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}

#partners {
    display: block;
    text-align: center;
    background-color: var(--secondary);
    color: #fff;
    padding: 3em 0 5em;
    position: relative;
    z-index: 1;

    .subheading {
        @fs: 14;
        @lh: 40;
        @height: 40;

        display: block;
        position: absolute;
        background-color: var(--secondary);
        top: (-39/@fs*1em);
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1em;
        font-size: (@fs/20em);
        line-height: (@lh/@fs*1em);
        text-transform: capitalize;
        white-space: nowrap;

        &::before {
            content: '';
            display: block;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='40' fill='none' viewBox='0 0 62 40'%3E%3Cpath fill='%23033B52' fill-rule='evenodd' d='M0 39.996h61.807V0h-9.469a9.437 9.437 0 0 0-6.613 2.717L8.5 35.5c-2.849 2.163-5 4-8.5 4.496Z' clip-rule='evenodd'/%3E%3C/svg%3E") center / cover no-repeat;
            position: absolute;
            right: calc(100% - .5em);
            top: 0;
            width: (62/@fs*1em);
            height: (40/@fs*1em);
            pointer-events: none;
        }

        &::after {
            content: '';
            display: block;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='40' fill='none' viewBox='0 0 62 40'%3E%3Cpath fill='%23033B52' fill-rule='evenodd' d='M61.807 39.996H0V0h9.469a9.436 9.436 0 0 1 6.613 2.717L53.307 35.5c2.849 2.163 5 4 8.5 4.496Z' clip-rule='evenodd'/%3E%3C/svg%3E") center / cover no-repeat;
            position: absolute;
            left: calc(100% - .5em);
            top: 0;
            width: (62/@fs*1em);
            height: (40/@fs*1em);
            pointer-events: none;
        }
    }

    .row {
        .flexcenter;
        gap: 3em;
        font-size: min(2vw, 1em);
    }

    .item {
        @fs: 86;
        font-size: (@fs/20em);
        line-height: 1.2;
        .flexcenter;
        white-space: nowrap;
        text-transform: capitalize;

        .flag {
            .ib;
            width: (100/@fs*1em);
            height: (67/@fs*1em);
        }
    }
}

#services {
    display: block;
    padding: 3em 0;
    text-align: center;
    position: relative;
    z-index: 5;

    @media only screen and (min-width: 768px) {
        padding: 5em 0 8em;
    }

    .subheading {
        @fs: 14;
        @lh: 40;
        @height: 40;

        display: block;
        position: absolute;
        background-color: var(--bg);
        top: (-39/@fs*1em);
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1em;
        font-size: (@fs/20em);
        line-height: (@lh/@fs*1em);
        text-transform: capitalize;
        white-space: nowrap;
        min-width: (270/@fs*1em);

        .shape {
            display: block;
            position: absolute;
            width: (62/@fs*1em);
            height: (40/@fs*1em);
            top: 0;
            pointer-events: none;
            color: var(--bg);
        }

        .left-shape {
            right: calc(100% - .5em);
        }

        .right-shape {
            left: calc(100% - .5em);
        }
    }

    h2 {
        width: 90%;
        max-width: (650 / 50em);
        margin-inline: auto;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        width: 90%;
        max-width: (1400/20em);
        margin: 0 auto;

        @media only screen and (min-width: 768px) {
            flex-direction: row;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                background: linear-gradient(to right, transparent 15%, var(--primary), transparent 85%);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                z-index: 1;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    .card {
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        padding: 2em;
        background-color: #faf7f2;
        transition: background-color 0.33s ease;
        align-self: stretch;

        &:nth-child(1) {
            background: linear-gradient(180deg, transparent, #faf7f2);
        }

        &:nth-child(3) {
            background: linear-gradient(0deg, transparent, #faf7f2);
        }

        &:nth-child(2) {
            background-color: #faf7f2;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                background: linear-gradient(45deg, transparent, var(--primary), transparent);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        @media only screen and (min-width: 768px) {
            font-size: min(1.5vw, 1em);

            &:nth-child(2) {

                &::before,
                &::after {
                    width: 1px;
                    height: 150%;
                    transform: translateY(-50%);
                    top: 50%;
                    background: linear-gradient(180deg, transparent, var(--primary), transparent);
                }

                &::before {
                    left: 0;
                }

                &::after {
                    left: auto;
                    right: 0;
                }
            }

            &:nth-child(1) {
                background-image: none;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: linear-gradient(180deg, transparent, #faf7f2);
                    width: 100%;
                    height: 25%;
                    top: -25%;
                    left: 0;
                    pointer-events: none;
                }
            }

            &:nth-child(3) {
                background-image: none;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: linear-gradient(0deg, transparent, #faf7f2);
                    width: 100%;
                    height: 25%;
                    bottom: -25%;
                    left: 0;
                    pointer-events: none;
                }
            }
        }

        &:hover {
            background-color: #faf7f2;

            .gears {
                .left-gear {
                    transform: rotate(360deg);
                    transition-duration: 5s;
                }

                .right-gear {
                    transform: rotate(-360deg);
                    transition-duration: 5s;
                }
            }
        }

        .icon {
            display: block;
            width: (96/20em);
            height: (60/20em);
            margin-bottom: (20/20em);

            path {
                transform-box: fill-box;
                transition: transform 0.33s ease;
                transform-origin: center;
            }
        }
    }

    h3.title {
        font-size: (24/20em);
        margin-bottom: (25/24em);
    }

    .card p {
        margin-bottom: (30/16em);

        @media only screen and (min-width: 768px) {
            font-size: (16/20em);
            margin-bottom: (30/16em);
        }
    }
}

#img-right {
    display: block;
    padding: 3em 0;
    background-color: var(--bg-alternate);
    text-align: center;

    @media only screen and (min-width: 768px) {
        font-size: 1.2vw;
    }

    @media only screen and (min-width: 1024px) {
        font-size: ~"min(1.2vw, 1em)";
        padding: 5em 0;
    }

    .container {
        max-width: (1650/20em)
    }

    .mod {
        .ib;
        .va(top);
        width: 90%;
        max-width: (650/20em);
        text-align: left;
        margin: 0 0 (50/20em) 0;

        @media only screen and (min-width: 1024px) {
            margin: 0 (50/20em) 0 0;
        }
    }

    .decor {
        .ib;
        .va(top);
        width: 90%;
        max-width: (800/20em);
        height: auto;
    }
}

#home-about {
    display: block;
    position: relative;
    padding: 3em 0;
    text-align: center;
    background: url('/homeabout.jpg') center / cover no-repeat;

    @media only screen and (min-width: 768px) {
        font-size: 1.7vw;
    }

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 5em 0;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.5em;
        background: linear-gradient(to bottom, var(--secondary) 20%, transparent 100%);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            align-items: stretch;
            flex-direction: row;
        }
    }

    .decor {
        .ib;
        .va(top);
        width: 90%;
        max-width: (500/20em);
        margin: 0;
        line-height: 0;
        position: relative;
        z-index: 1;

        @media only screen and (min-width: 768px) {
            max-width: (350/20em);
            margin: 0 (-50/20em) 0 0;
        }

        img {
            width: 100%;
            height: auto;
            filter: grayscale(1)
        }
    }

    .mod {
        .ib;
        .va(top);
        width: 90%;
        max-width: (500/20em);
        text-align: left;
        background-color: var(--bg-alternate);
        padding: 2em;
        box-shadow: var(--box-shadow);

        @media only screen and (min-width: 768px) {
            padding: 3em;
            max-width: (800/20em);
            padding-left: (100/20em);
            margin-top: 2em;
        }

        .title {
            display: block;
            font-size: (16/20em);
            margin-bottom: 2em;
            .bold;
        }

        p {
            font-size: (16/20em);
        }
    }
}