#landing {
    display: block;
    text-align: center;
    min-height: 600px;
    padding: 8em 0 4em;

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 7em 0 5em;
    }

    h1 {
        @fs: 64;
        @lh: 66;
        @marginbtm: 30;

        font-size: min(8vw, (@fs/20em));
        line-height: (@lh/@fs);
        margin-bottom: (@marginbtm/@fs*1em);
        .bold;
    }

    .landing-form {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow);
        font-size: 20px;
        padding: .25em;
        background-color: var(--bg);
        gap: (10/20em);

        .form-control {
            @parentfs: 20;
            @fs: 15;
            @lh: 41;
            @ls: 0;
            @height: 40;
            @width: 150;
            @br: 0;
            @bc: var(--primary);
            @hoverbc: var(--secondary);
            @borderstyle: false;

            .ib;
            .va(top);

            input[type='email'] {
                display: block;
                border: 0;
                width: 100%;
                font-size: 15px;
                line-height: (@lh/@fs);
                padding: 0 1em;
                min-width: (250/@fs*1em);
                width: (250/@fs*1em);
                color: var(--text);
                background: none;
                border-radius: 0;

                &::placeholder {
                    color: var(--text);
                }

                & when (@height > 0) {
                    height: (@height/@fs*1em);
                }
            }
        }

        .btn {
            min-width: auto;
        }
    }

    .video-container {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: (1298/20em);
        height: auto;
        line-height: 0;
        filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, .3));

        .ipad-vector {
            position: relative;
            z-index: 1;
        }

        .video-wrap {
            overflow: hidden;
            .overlay;
            border-radius: 8%;

            #herovid {
                aspect-ratio: 16 / 9;
                .overlay;
                object-fit: cover;
            }
        }
    }
}

#partners {
    display: block;
    text-align: center;
    background-color: var(--secondary);
    color: #fff;
    padding: 3em 0 5em;
    position: relative;
    z-index: 1;

    .row {
        .flexcenter;
        gap: 3em;
        font-size: min(2vw, 1em);
    }

    .item {
        @fs: 86;
        font-size: (@fs/20em);
        line-height: 1.2;
        .flexcenter;
        white-space: nowrap;
        text-transform: capitalize;

        .flag {
            .ib;
            width: (100/@fs*1em);
            height: (67/@fs*1em);
        }
    }
}

#services {
    display: block;
    padding: 3em 0;
    text-align: center;
    position: relative;
    z-index: 5;

    @media only screen and (min-width: 768px) {
        padding: 5em 0 8em;

        .section-header {
            margin-bottom: (150/20em);
        }

        h2 {
            width: 100%;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        width: 90%;
        max-width: (1298/20em);
        margin: 0 auto;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            width: 96%;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                background: linear-gradient(to right, transparent 15%, var(--primary), transparent 85%);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                z-index: 1;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    .card {
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        padding: 2em;
        background-color: var(--bg-alternate);
        transition: background-color 0.33s ease;
        align-self: stretch;

        &:nth-child(1) {
            background: linear-gradient(180deg, transparent, var(--bg-alternate));
        }

        &:nth-child(3) {
            background: linear-gradient(0deg, transparent, var(--bg-alternate));
        }

        &:nth-child(2) {
            background-color: var(--bg-alternate);

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                background: linear-gradient(45deg, transparent, var(--primary), transparent);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        @media only screen and (min-width: 768px) {
            font-size: min(1.5vw, 1em);

            &:nth-child(2) {

                &::before,
                &::after {
                    width: 1px;
                    height: 150%;
                    transform: translateY(-50%);
                    top: 50%;
                    background: linear-gradient(180deg, transparent, var(--primary), transparent);
                }

                &::before {
                    left: 0;
                }

                &::after {
                    left: auto;
                    right: 0;
                }
            }

            &:nth-child(1) {
                background-image: none;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: linear-gradient(180deg, transparent, var(--bg-alternate));
                    width: 100%;
                    height: 25%;
                    top: -25%;
                    left: 0;
                    pointer-events: none;
                }
            }

            &:nth-child(3) {
                background-image: none;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: linear-gradient(0deg, transparent, var(--bg-alternate));
                    width: 100%;
                    height: 25%;
                    bottom: -25%;
                    left: 0;
                    pointer-events: none;
                }
            }
        }

        &:hover {
            background-color: var(--bg-alternate);

            .gears {
                .left-gear {
                    transform: rotate(360deg);
                    transition-duration: 5s;
                }

                .right-gear {
                    transform: rotate(-360deg);
                    transition-duration: 5s;
                }
            }
        }

        .icon {
            display: block;
            width: (96/20em);
            height: (60/20em);
            margin-bottom: (20/20em);

            path {
                transform-box: fill-box;
                transition: transform 0.33s ease;
                transform-origin: center;
            }
        }
    }

    h3.title {
        font-size: (24/20em);
        margin-bottom: (25/24em);
    }

    .card p {
        margin-bottom: (30/16em);

        @media only screen and (min-width: 768px) {
            font-size: (16/20em);
            margin-bottom: (30/16em);
        }
    }
}

#home-feature {
    display: block;
    position: relative;
    padding: 3em 0;
    background-color: var(--bg-alternate);
    text-align: center;
    z-index: 10;

    @media only screen and (min-width: 768px) {
        font-size: 1.2vw;
    }

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 5em 0;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: (30/20em);

        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    .mod {
        display: block;
        text-align: left;
        max-width: (800/20em);

        .decor {
            display: block;
            width: 100%;
            height: auto;
        }

        .btn {
            margin-bottom: 3em;
        }
    }

    .benefits {
        display: inline-flex;
        .va(top);
        max-width: (440/20em);
        text-align: left;
        flex-direction: column;
        gap: (20/20em);

        @media only screen and (min-width: 768px) {
            margin-top: (95/20em);
        }

        a {
            color: var(--text);
            display: flex;
            gap: 1em;
            background-color: var(--bg);
            padding: .5em;

            h3 {
                font-size: (15/20em);
                line-height: (25/15);
            }

            p {
                font-size: (13/20em);
                margin: 0;
            }

            .icon {
                display: block;
                width: (80/20em);
                height: (80/20em);
                background-color: var(--bg-alternate);
            }

            .inner-mod {
                display: block;
                width: 80%;
            }
        }
    }
}

#home-about {
    display: block;
    position: relative;
    padding: 3em 0;
    text-align: center;
    background: url('/homeabout.jpg') center / cover no-repeat;

    @media only screen and (min-width: 768px) {
        font-size: 1.7vw;
    }

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 5em 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            align-items: stretch;
            flex-direction: row;
        }
    }

    .decor {
        .ib;
        .va(top);
        max-width: (500/20em);
        margin: 0;
        line-height: 0;
        position: relative;
        z-index: 1;

        @media only screen and (min-width: 768px) {
            max-width: (350/20em);
            margin: 0 (-50/20em) 0 0;
        }

        img {
            width: 100%;
            height: auto;
            filter: grayscale(1)
        }
    }

    .mod {
        .ib;
        .va(top);
        max-width: (500/20em);
        text-align: left;
        background-color: var(--bg-alternate);
        padding: 2em;
        box-shadow: var(--box-shadow);

        @media only screen and (min-width: 768px) {
            padding: 3em;
            max-width: (800/20em);
            padding-left: (100/20em);
            margin-top: 2em;
        }

        .title {
            display: block;
            font-size: (16/20em);
            margin-bottom: 2em;
            .bold;
        }

        p {
            font-size: (16/20em);
        }
    }
}